#tagline { font-size:12px; font-style:italic;}
#map { float:left; width:75%; height:100%; }
#message { position:absolute; padding:10px; background:#555; color:#fff; width:75px; }
#list { float:left; width:200px; background:#eee; list-style:none; padding:0; }
#list li { padding:10px; font-size: 12px; }
#list li:hover { background:#555; color:#fff; cursor:pointer; cursor:hand; }
#OpenLayers.Control.PanZoom_5_zoomworld {display:none;}
#sidebar {width: 25%; height: 100%; float: right; overflow: auto; border: 0px 0px 0px 2px; border-color:#333;}
#databases { list-style-type: none;}
#databases li:hover { font-weight: bold; cursor: pointer; cursor: hand;}
#regions li:hover { font-weight: bold; cursor: pointer; cursor: hand; background:#ddd;}
#regions { list-style-type: none;}
#loader { position: absolute; display: none; z-index: 666; }
form {padding: 0; margin: 0;}
.selected {font-weight: bold; color: #019DBE;}
.geocoder_form {width: 300px; position: absolute; z-index: 999; left: 55px; top: 10px;}
.geocoder {width: 200px; border: 1px solid black;}
h1 {font-size: 20px; padding: 10px; margin: 0; background:#000; color:#fff; text-align:right;}
h3 {font-size: 16px; padding: 0; margin: 0;}
#postphoto { height: 240px; width: 180px;}
#photocredit {font-size:12px;}
#last-updated {font-size: 8px; text-align:center;}
#choose-note {color:#999; text-align:center;}
#metadata { height: 65%; overflow: auto; padding: 20px; background:#E0D4C9;}
#menu { height: 35%; overflow: auto; padding: 20px; background:#fff;}
body {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
  font-size: 16px;
  line-height: 24px;
  color: #252519;
  margin: 0; padding: 0;
}
a {
  color: #261a3b;
}
  a:visited {
    color: #261a3b;
  }

dl {
	float: left;
	width: 100%;
	margin: 1em 0;
	padding: 0;
}

dt {
	clear: left;
	float: left;
	margin: 0;
	padding: 5px;
	font-weight: bold;
}

dd {
	float: left;
	margin: 0;
	padding: 5px;
}