/* Upper Right: Title, about and region selection */

#sidebar {width: 25%; height: 100%; float: right; overflow: auto; border: 0px 0px 0px 2px; border-color:#333;}

#menu { height: 40%; overflow: auto; background:#fff;}

h1 {font-size: 18px; padding: 10px; margin: 0; background:#000; color:#fff; text-align:right;}

#tagline { font-size:12px; font-style:italic; padding-left: 5px; text-align: center;}

#about {padding: 10px; font-size: 12px;}

#regions li:hover { font-weight: bold; cursor: pointer; cursor: hand; background:#ddd;}
#regions { list-style-type: none;}




/* Lower Right: Post Details */

#metadata { height: 60%; overflow: auto; padding: 20px; background:#E0D4C9;}

h3 {font-size: 16px; padding: 0; margin: 0;}
#postphoto { height: 240px; width: 180px;}
#photocredit {font-size:12px;}
#last-updated {font-size: 8px; text-align:center;}
#choose-note {color:#999; text-align:center;}




/* Map area */

#map { float:left; width:75%; height:100%; }

/* from geobrowser.js code -- what does it do? */
#OpenLayers.Control.PanZoom_5_zoomworld {display:none;}



/* progress bar */
#loader { position: absolute; display: none; z-index: 666; }



/* search field */
form {padding: 0; margin: 0;}
.selected {font-weight: bold; color: #019DBE;}
.geocoder_form {width: 300px; position: absolute; z-index: 999; left: 55px; top: 10px;}
.geocoder {width: 200px; border: 1px solid black;}

/* General Stuff */

body {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
  font-size: 16px;
  line-height: 24px;
  color: #252519;
  margin: 0; padding: 0;
}
a {
  color: #261a3b;
}
  a:visited {
    color: #261a3b;
  }


/* ================================================================= */
/* Stuff to clear out... */
/* ================================================================= */

/* What is this? Not used in html or js, unless introduced by an outside library */
/* check firebug */

#message { position:absolute; padding:10px; background:#555; color:#fff; width:75px; }


/* same situation with this list stuff... */
#list { float:left; width:200px; background:#eee; list-style:none; padding:0; }
#list li { padding:10px; font-size: 12px; }
#list li:hover { background:#555; color:#fff; cursor:pointer; cursor:hand; }



/* Legacy code you can probably ditch */

dl {
	float: left;
	width: 100%;
	margin: 1em 0;
	padding: 0;
}

dt {
	clear: left;
	float: left;
	margin: 0;
	padding: 5px;
	font-weight: bold;
}

dd {
	float: left;
	margin: 0;
	padding: 5px;
}


